/*******************************
        General Styles
/*******************************/


* {
    margin: 0;
    padding: 0;
   /* border: 0;*/
    font-size: 100%;
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

input, textarea {
    width: 100%;
    clear: both;
}


/*iPhone portrait*/
@media only screen and (min-width: 320px) {
    body {
        color: purple;
    }

    .container {
        padding-right: 0px;
        padding-left: 0px;
    }

    #logo {
        margin: 15px;
    }

    #banner {
        height: 20em;
        margin-bottom: 15px;
        background-image: url("../images/laundrybanner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }

    section.content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .introduction {
         margin-bottom: 50px;
    }
    
    .select-btn {
        width: 30%;
    }

    #country {
        margin-right: 24px;
    }
}

/*iPhone landscape*/
@media only screen and (min-width: 480px) {
    body {
        color: green;
    }

    #banner {
        height: 30rem;
    }

}


/*ipad potrait*/
@media only screen and (min-width: 768px) {
    body {
        color: red;
    }
    
    #banner {
        height: 38rem;
    }

     section.content {
        padding-left: 0px;
        padding-left: 0px;
    }

     .introduction {
        padding-right: 20px;
    }

    .form {
        padding-left: 20px;
    }
}


/*ipad lanscape / small laptop*/
@media only screen and (min-width: 1024px) {
    body {
        color: blue;
    }

    #banner {
        height: 45rem;
    }

     .select-btn {
        width: 20%;
    }
}
