* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/*iPhone portrait*/
@media only screen and (min-width: 320px) {
    body {
        color: purple;
    }
}


/*iPhone landscape*/
@media only screen and (min-width: 480px) {
    body {
        color: green;
    }
}


/*ipad potrait*/
@media only screen and (min-width: 768px) {
    body {
        color: red;
    }
}


/*ipad lanscape / small laptop*/
@media only screen and (min-width: 1024px) {
    body {
        color: blue;
    }
}
